img {
    width: 200px;
    height: 200px;
}
.thumbnail {
    width: 200px;
    height: 200px;
    border: double;
    background-color: gray;
    color: white;
    margin-top  : 25px;
    line-height: 150px;
}

.button {
    display: flex;
    justify-content: center;
}   

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    gap: 20px 100px;
}