img {
    width: 200px;
    height: 200px;
}
.thumbnail {
    width: 200px;
    height: 200px;
    border: double;
    background-color: gray;
    margin-top  : 25px;
    line-height: 150px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 5px;
}   

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    gap: 5px;
    color: white;
    line-height: 0px;
}