.thumbnail {
    width: 100px;
    height: 100px;
    border: double;
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: purple;
}

.GalleryItem {
    display: flex;
    flex-direction: row;
    color: teal;
    background-color: red;
}